/* custom_styles */
.mondrian {
  border: 10px solid;
}
.mondrian .mod1.row {
  height: 240px;
}
.mondrian .mod1.row #box1 {
  border-right: 10px solid;
}
.mondrian .mod1.row #box1 .inner-box {
  height: 120px;
  background: #f00;
}
.mondrian .mod1.row #box2 {
  border-right: 10px solid;
}
.mondrian .mod1.row #box2.col-xs-4 {
  height: 240px;
}
.mondrian .mod1.row #box2 .inner-box:nth-child(1) {
  height: 90px;
}
.mondrian .mod1.row #box2 .inner-box:nth-child(2) {
  height: 150px;
}
.mondrian .mod1.row #box2 .inner-box:last-child {
  background: yellow;
}
.mondrian .mod1.row #box3 .row:nth-child(1) {
  /* add height and border here for additional pseudo section*/
}
.mondrian .mod1.row #box3 .row:nth-child(1) .inner-box {
  height: 170px;
}
.mondrian .mod1.row #box3 .row:nth-child(1) .inner-box:nth-child(1) {
  border-right: 10px solid;
}
.mondrian .mod1.row #box3 .row:nth-child(1) .inner-box:nth-child(2) {
  border-bottom: 10px solid;
  background: blue;
}
.mondrian .mod1.row #box3 .row:nth-child(2) {
  height: 40px;
}
.mondrian .mod2.row {
  border-top: 10px solid;
}
.mondrian .mod2.row #box1 .inner-box {
  height: 100px;
}
.mondrian .mod2.row #box1 .inner-box:not(:last-of-type) {
  border-right: 10px solid;
}
.mondrian .mod2.row #box1 > .row > .inner-box {
  border-right: 0px;
}
.mondrian .mod2.row #box1 > .row > .inner-box .inner-box:nth-child(4) {
  background: yellow;
}
.mondrian .mod2.row #box1 .row .row .inner-box {
  border-bottom: 0px;
}
.mondrian .mod2.row #box1 .row > .inner-box:nth-child(2) .inner-box:nth-child(2) {
  background: blue;
}
.mondrian .inner-box:not(:last-of-type) {
  border-bottom: 10px solid;
}
